/* Colores corporativos BCI */

$rojo: #d12c3a;
$azul: #2f72cb;
$amari: #f7d500;
$verde: #389946;
$gris-oficial: #232323;

/* Grises corporativos BCI */

$negro: #000000;
$gris1: rgba(0, 0, 0, 0.5);
$gris2: #A1A1A4;
$gris3: #A7A9AC;

/* Grises Mailing */
$gris-fondos: #EDF0F0;
$gris-iconos: #727075;

/* Logo Bci */

$ancho-minimo: 50px;

 /*franja */
$alto-minimo-franja: 8.5px;
$alto-maximo-franja: 14.1px;

/* Tipografía Bci */

$open: 'Open Sans', sans-serif;
$open-light: 300;
$open-reg: 400;
$open-bold: 700;