/*

Instrucciones:
-Cada vez que creo una clase, le pondré mis iniciales y luego el nombre:
Ej: En vez de hacer clase "navbar", le pongo "as-navbar" (si es que soy Andrea Suarez)
Todo esto para evitar pisarnos a la hora de hacer clases nuevas :)

-Cada sección que hago la parto con un comentario con el nombre de la sección a trabajar
*/

.as-rut-error{
	color:red;

}
/*#map{
	height: 100vh;
	width: auto;

}*/
.as-qr1{
	width: 300px;
	height:300px;
	border: 2px solid black;
	margin: 30px auto;
	background-color: white;

}