/*Style Login */
.mb-contenedor{
	margin-left: 20% !important;
}
.mb-botonentrar{
	background-color: $verde !important;
}
.mb-background{
	background-color: #161616;
}
.mb-icon{
	color: $gris2;
}

/* Style login redes */
.mb-contentredes{
	margin-left: 12%;
	margin-top: 12%;
}
.mb-btnface {
	background-color: #3B5998 !important;
	margin-left: 45%;
}
.mb-iconface{
	margin-right: 2%;
}
.mb-btngoogle{
	background-color: #ffffff !important;
	color: $verde !important;
	margin-left: 15%;
}
.mb-icongoogle{
	background-color: #EA4335;
	margin-right:2%;
}
/*Style cuentas html */
.cuentas-cont{
	color: white;
	padding: 20px;
}
.btn-transferir{
	background-color: $verde !important;
	a{
		color: white;
	}

}
.mj-botoncs{
	background-color: $verde !important;
}
/*
Instrucciones:
-Cada vez que creo una clase, le pondré mis iniciales y luego el nombre:
Ej: En vez de hacer clase "navbar", le pongo "as-navbar" (si es que soy Andrea Suarez)
Todo esto para evitar pisarnos a la hora de hacer clases nuevas :)

-Cada sección que hago la parto con un comentario con el nombre de la sección a trabajar
*/