/*

Instrucciones:
-Cada vez que creo una clase, le pondré mis iniciales y luego el nombre:
Ej: En vez de hacer clase "navbar", le pongo "as-navbar" (si es que soy Andrea Suarez)
Todo esto para evitar pisarnos a la hora de hacer clases nuevas :)

-Cada sección que hago la parto con un comentario con el nombre de la sección a trabajar
*/


/* Splash Screen */

#splash {
  background-color: $negro;
  text-align: center;
  height: 100vh;
  padding-top: 33vh;

  .load{
    text-align: center;
    width: 60px;
    margin: 0 auto;
    img{
      margin-top: 10vh;
      width: 100%;
    }
  }
}